{port_env, [{"DRV_CFLAGS",  "-O2 -fpic -O2 -Wall -finline-functions  -D_REENTRANT  -DSYB_LP64 -DUSE_SYBASE $DRV_CFLAGS -I /opt/sybase/OCS-15_0/include/ "},
			{"DRV_LDFLAGS", "$DRV_LDFLAGS -L/opt/sybase/OCS-15_0/lib -L/usr/lib/gcc/x86_64-linux-gnu/4.6/  -lsybct_r64 -lsybcomn_r64 -lsybintl_r64 -lsybunic64 -lsybcs_r64 -lei -lpthread -lstdc++"}]}.

{port_specs, [
    {"priv/sybdrv.so", ["c_src/*.cpp"]}
]}.
